# CS 236 Assignment 1: Part 3 Dependency
> Author: Jamella Pescasio (jpesc002)

## Purpose
Insert entries into the database file in order to make queries.

## Setup

In [206]:
# load extension (only needed once)
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [207]:
# initializes db and creates respective file in same directory
%sql sqlite:///policies-v11.sqlite

## Insert Entries
Code blocks below insert entries to be queried in `part3.ipynb`. Enough entries are inserted to complete the final part of the assignment and show correctness.

In [208]:
%%sql
INSERT INTO Policies (term_price, coverage, date)
VALUES (
    1000,
    'life',
    '2021-02-10'
)

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
1 rows affected.

[]

In [209]:
%%sql
INSERT INTO Policies (term_price, coverage, date)
VALUES (
    1500,
    'life',
    '2021-01-21'
)

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
1 rows affected.

[]

In [210]:
%%sql
INSERT INTO Policies (term_price, coverage, date)
VALUES (
    2000,
    'vehicle',
    '2021-03-31'
)

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
1 rows affected.

[]

In [211]:
%%sql
INSERT INTO Policies (term_price, coverage, date)
VALUES (
    1800,
    'life',
    '2022-01-07'
)

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
1 rows affected.

[]

In [212]:
%%sql
INSERT INTO Policies (term_price, coverage, date)
VALUES (
    2500,
    'vehicle',
    '2022-02-01'
)

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
1 rows affected.

[]

In [213]:
%%sql
INSERT INTO Policies (term_price, coverage, date)
VALUES (
    3000,
    'vehicle',
    '2022-02-23'
)

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
1 rows affected.

[]

In [214]:
%%sql
INSERT INTO Policies (term_price, coverage, date)
VALUES (
    3200,
    'life',
    '2022-02-28'
)

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
1 rows affected.

[]

In [215]:
%%sql
SELECT * FROM Policies
ORDER BY date ASC

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
Done.

[(2, 1500.0, 'life', '2021-01-21'),
 (1, 1000.0, 'life', '2021-02-10'),
 (3, 2000.0, 'vehicle', '2021-03-31'),
 (4, 1800.0, 'life', '2022-01-07'),
 (5, 2500.0, 'vehicle', '2022-02-01'),
 (6, 3000.0, 'vehicle', '2022-02-23'),
 (7, 3200.0, 'life', '2022-02-28')]

In [216]:
%%sql
INSERT INTO VehiclePolicies (type, driving_history, policy_number, vehicle_VIN)
VALUES (
    'new',
    '{{}}',
    3,
    'qkheN4Gybl0TrY4Y'
)

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
1 rows affected.

[]

In [217]:
%%sql
INSERT INTO VehiclePolicies (type, driving_history, policy_number, vehicle_VIN)
VALUES (
    'new',
    '{{}}',
    5,
    'uWUpcJ6bInty-n2h'
)

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
1 rows affected.

[]

In [218]:
%%sql
INSERT INTO VehiclePolicies (type, driving_history, policy_number, vehicle_VIN)
VALUES (
    'old',
    '{{}}',
    6,
    'uEwbgarW9SNd5d04'
)

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
1 rows affected.

[]

In [219]:
%%sql
SELECT * FROM VehiclePolicies

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
Done.

[(1, 'new', '{}', 3, 'qkheN4Gybl0TrY4Y'),
 (2, 'new', '{}', 5, 'uWUpcJ6bInty-n2h'),
 (3, 'old', '{}', 6, 'uEwbgarW9SNd5d04')]

In [220]:
%%sql
INSERT INTO LifePolicies (value, min_age, max_age, policy_number)
VALUES (
    50000,
    18,
    65,
    2
)

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
1 rows affected.

[]

In [221]:
%%sql
INSERT INTO LifePolicies (value, min_age, max_age, policy_number)
VALUES (
    55000,
    21,
    65,
    1
)

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
1 rows affected.

[]

In [222]:
%%sql
INSERT INTO LifePolicies (value, min_age, max_age, policy_number)
VALUES (
    60000,
    21,
    70,
    4
)

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
1 rows affected.

[]

In [223]:
%%sql
INSERT INTO LifePolicies (value, min_age, max_age, policy_number)
VALUES (
    62500,
    25,
    70,
    7
)

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
1 rows affected.

[]

In [224]:
%%sql
SELECT * FROM LifePolicies

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
Done.

[(1, 50000, 18, 65, 2),
 (2, 55000, 21, 65, 1),
 (3, 60000, 21, 70, 4),
 (4, 62500, 25, 70, 7)]

In [225]:
%%sql
INSERT INTO Vehicles (vehicle_VIN, plate, registered_state, color, year, model)
VALUES (
    'qkheN4Gybl0TrY4Y',
    'LH9WZID',
    'CA',
    'white',
    2017,
    'Honda CRV'
)

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
1 rows affected.

[]

In [226]:
%%sql
INSERT INTO Vehicles (vehicle_VIN, plate, registered_state, color, year, model)
VALUES (
    'uWUpcJ6bInty-n2h',
    'IREURGI',
    'CA',
    'emerald',
    2022,
    'BMW M3'
)

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
1 rows affected.

[]

In [227]:
%%sql
INSERT INTO Vehicles (vehicle_VIN, plate, registered_state, color, year, model)
VALUES (
    'uEwbgarW9SNd5d04',
    'I0QIOXM',
    'CA',
    'yellow',
    2008,
    'Nissan XTerra'
)

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
1 rows affected.

[]

In [228]:
%%sql
SELECT * FROM Vehicles

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
Done.

[('qkheN4Gybl0TrY4Y', 'LH9WZID', 'CA', 'white', 2017, 'Honda CRV'),
 ('uWUpcJ6bInty-n2h', 'IREURGI', 'CA', 'emerald', 2022, 'BMW M3'),
 ('uEwbgarW9SNd5d04', 'I0QIOXM', 'CA', 'yellow', 2008, 'Nissan XTerra')]

In [229]:
%%sql
INSERT INTO Cars (car_type, transmission_type, size, vehicle_VIN)
VALUES (
    'suv',
    'automatic',
    'midsize',
    'qkheN4Gybl0TrY4Y'
)

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
1 rows affected.

[]

In [230]:
%%sql
INSERT INTO Cars (car_type, transmission_type, size, vehicle_VIN)
VALUES (
    'sedan',
    'automatic',
    'compact',
    'uWUpcJ6bInty-n2h'
)

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
1 rows affected.

[]

In [231]:
%%sql
INSERT INTO Cars (car_type, transmission_type, size, vehicle_VIN)
VALUES (
    'suv',
    'automatic',
    'large',
    'uEwbgarW9SNd5d04'
)

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
1 rows affected.

[]

In [232]:
%%sql
SELECT * FROM Cars

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
Done.

[('suv', 'automatic', 'midsize', 'qkheN4Gybl0TrY4Y'),
 ('sedan', 'automatic', 'compact', 'uWUpcJ6bInty-n2h'),
 ('suv', 'automatic', 'large', 'uEwbgarW9SNd5d04')]

In [233]:
%%sql
INSERT INTO Customers (ssn, driver_license, name, telephone, address, policy_number)
VALUES (
    4930295821,
    'H1D1YCFQX',
    'Bombas III',
    '888-888-8888',
    'California, US',
    2
)

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
1 rows affected.

[]

In [234]:
%%sql
INSERT INTO Customers (ssn, driver_license, name, telephone, address, policy_number)
VALUES (
    4930295821,
    'H1D1YCFQX',
    'Bombas III',
    '888-888-8888',
    'California, US',
    3
)

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
1 rows affected.

[]

In [235]:
%%sql
INSERT INTO Customers (ssn, driver_license, name, telephone, address, policy_number)
VALUES (
    3945395209,
    'QNGHZ3JDS',
    'Geralt of Rivia',
    '888-888-8888',
    'California, US',
    1
)

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
1 rows affected.

[]

In [236]:
%%sql
INSERT INTO Customers (ssn, driver_license, name, telephone, address, policy_number)
VALUES (
    3945395209,
    'QNGHZ3JDS',
    'Geralt of Rivia',
    '888-888-8888',
    'California, US',
    5
)

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
1 rows affected.

[]

In [237]:
%%sql
INSERT INTO Customers (ssn, driver_license, name, telephone, address, policy_number)
VALUES (
    1049284220,
    'BZY0SCZJ5',
    'Sonny Johannson',
    '888-888-8888',
    'California, US',
    4
)

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
1 rows affected.

[]

In [238]:
%%sql
INSERT INTO Customers (ssn, driver_license, name, telephone, address, policy_number)
VALUES (
    6903372111,
    'JJFDC3L9W',
    'Bjorn of Hearthyme',
    '888-888-8888',
    'California, US',
    6
)

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
1 rows affected.

[]

In [239]:
%%sql
INSERT INTO Customers (ssn, driver_license, name, telephone, address, policy_number)
VALUES (
    8590023485,
    'JMODZIDCQ',
    'Tyr of Himbrosia',
    '888-888-8888',
    'California, US',
    7
)

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
1 rows affected.

[]

In [240]:
%%sql
SELECT * FROM Customers

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
Done.

[(4930295821, 'H1D1YCFQX', 'Bombas III', '888-888-8888', 'California, US', 2),
 (4930295821, 'H1D1YCFQX', 'Bombas III', '888-888-8888', 'California, US', 3),
 (3945395209, 'QNGHZ3JDS', 'Geralt of Rivia', '888-888-8888', 'California, US', 1),
 (3945395209, 'QNGHZ3JDS', 'Geralt of Rivia', '888-888-8888', 'California, US', 5),
 (1049284220, 'BZY0SCZJ5', 'Sonny Johannson', '888-888-8888', 'California, US', 4),
 (6903372111, 'JJFDC3L9W', 'Bjorn of Hearthyme', '888-888-8888', 'California, US', 6),
 (8590023485, 'JMODZIDCQ', 'Tyr of Himbrosia', '888-888-8888', 'California, US', 7)]

In [241]:
%%sql
INSERT INTO Reports (damage_cost, location, date, driver_license, other_driver_license)
VALUES (
    500,
    'Riverside, CA',
    '2022-01-31',
    'JJFDC3L9W',
    'H1D1YCFQX'
)

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
1 rows affected.

[]

In [242]:
%%sql
INSERT INTO Reports (damage_cost, location, date, driver_license, other_driver_license)
VALUES (
    900,
    'Riverside, CA',
    '2022-02-01',
    'JJFDC3L9W',
    'H1D1YCFQX'
)

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
1 rows affected.

[]

In [243]:
%%sql
INSERT INTO Reports (damage_cost, location, date, driver_license, other_driver_license)
VALUES (
    1200,
    'Corona, CA',
    '2022-02-02',
    'JJFDC3L9W',
    'H1D1YCFQX'
)

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
1 rows affected.

[]

In [244]:
%%sql
INSERT INTO Reports (damage_cost, location, date, driver_license, other_driver_license)
VALUES (
    600,
    'Palm Springs, CA',
    '2022-03-23',
    'JJFDC3L9W',
    'H1D1YCFQX'
)

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
1 rows affected.

[]

In [245]:
%%sql
INSERT INTO Reports (damage_cost, location, date, driver_license, other_driver_license)
VALUES (
    750,
    'Los Angeles, CA',
    '2022-03-27',
    'H1D1YCFQX',
    'JJFDC3L9W'
)

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
1 rows affected.

[]

In [246]:
%%sql
INSERT INTO Reports (damage_cost, location, date, driver_license, other_driver_license)
VALUES (
    320,
    'Pomona, CA',
    '2022-04-08',
    'QNGHZ3JDS',
    'JJFDC3L9W'
)

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
1 rows affected.

[]

In [247]:
%%sql
SELECT * FROM Reports

   sqlite:///policies-v10.sqlite
 * sqlite:///policies-v11.sqlite
   sqlite:///policies-v2.sqlite
   sqlite:///policies-v4.sqlite
   sqlite:///policies-v5.sqlite
   sqlite:///policies-v6.sqlite
   sqlite:///policies-v7.sqlite
   sqlite:///policies-v8.sqlite
   sqlite:///policies-v9.sqlite
Done.

[(1, 500.0, 'Riverside, CA', '2022-01-31', 'JJFDC3L9W', 'H1D1YCFQX'),
 (2, 900.0, 'Riverside, CA', '2022-02-01', 'JJFDC3L9W', 'H1D1YCFQX'),
 (3, 1200.0, 'Corona, CA', '2022-02-02', 'JJFDC3L9W', 'H1D1YCFQX'),
 (4, 600.0, 'Palm Springs, CA', '2022-03-23', 'JJFDC3L9W', 'H1D1YCFQX'),
 (5, 750.0, 'Los Angeles, CA', '2022-03-27', 'H1D1YCFQX', 'JJFDC3L9W'),
 (6, 320.0, 'Pomona, CA', '2022-04-08', 'QNGHZ3JDS', 'JJFDC3L9W')]