# CS 236 Assignment 1: Part 3
> Author: Jamella Pescasio (jpesc002)

## Purpose
Make queries based on the assignment specifications.

## Setup

In [3]:
# load extension (only needed once)
%load_ext sql

In [4]:
# initializes db and creates respective file in same directory
%sql sqlite:///policies-v12.sqlite

## Make Queries
Code blocks below make queries based on the respective query specification.

### Query 1
The names of all customers who have both a life insurance and a vehicle policy.

In [31]:
%%sql
SELECT name FROM Customers
GROUP BY name
HAVING COUNT(*) > 1

   sqlite:///policies-v11.sqlite
 * sqlite:///policies-v12.sqlite
Done.

[('Bombas III',), ('Geralt of Rivia',)]

### Query 2
The name and driver license of customers who had 2 or more accidents in the past year.

In [92]:
%%sql
SELECT name, driver_license FROM Customers
JOIN VehiclePolicies USING (policy_number)
JOIN Reports USING (driver_license)
GROUP BY driver_license
HAVING COUNT(driver_license) >= 2

 * sqlite:///policies-v12.sqlite
Done.

[('Bombas III', 'H1D1YCFQX'), ('Bjorn of Hearthyme', 'JJFDC3L9W')]

### Query 3
Find the total number of customers who owned cars that were involved in accidents in 2022.

In [45]:
%%sql
SELECT COUNT(DISTINCT driver_license) AS total_involved_in_accidents_2022 FROM Reports
WHERE date > '2021-12-31'

 * sqlite:///policies-v12.sqlite
Done.

[(3,)]

### Query 4
Find the name of the customer who has the most number of accidents (total accidents).

In [91]:
%%sql
SELECT name, driver_license FROM Customers
JOIN VehiclePolicies USING (policy_number)
JOIN Reports USING (driver_license)
GROUP BY driver_license
ORDER BY COUNT(driver_license) DESC
LIMIT 1

 * sqlite:///policies-v12.sqlite
Done.

[('Bjorn of Hearthyme', 'JJFDC3L9W', 6)]

### Query 5
Find the name of customers who own a life policy but not a vehicle policy.

In [21]:
%%sql
SELECT name FROM Customers
JOIN Policies USING (policy_number)
GROUP BY name
HAVING COUNT(*) = 1 AND coverage = 'life'

 * sqlite:///policies-v12.sqlite
Done.

[('Sonny Johannson',), ('Tyr of Himbrosia',)]

### Query 6
Find the name of customers who either owned a Honda CRV or been in an accident with a Honda CRV.

In [122]:
%%sql
SELECT a.name FROM Customers a
JOIN VehiclePolicies v ON (v.policy_number = a.policy_number)
JOIN Reports USING (driver_license)
JOIN Customers b ON (Reports.other_driver_license = b.driver_license)
JOIN VehiclePolicies w ON (w.policy_number = b.policy_number)
JOIN Vehicles x ON (x.vehicle_VIN = v.vehicle_VIN)
JOIN Vehicles y ON (y.vehicle_VIN = w.vehicle_VIN)
WHERE x.model = 'Honda CRV' OR y.model = 'Honda CRV'
GROUP BY a.name

 * sqlite:///policies-v12.sqlite
Done.

[('Bjorn of Hearthyme',), ('Bombas III',)]

### Query 7
Find the name of customers who never owned a Honda CRV or been in an accident with a Honda CRV.

In [136]:
%%sql
SELECT a.name FROM Customers a
JOIN VehiclePolicies v ON (v.policy_number = a.policy_number)
JOIN Reports USING (driver_license)
JOIN Customers b ON (Reports.other_driver_license = b.driver_license)
JOIN VehiclePolicies w ON (w.policy_number = b.policy_number)
JOIN Vehicles x ON (x.vehicle_VIN = v.vehicle_VIN)
JOIN Vehicles y ON (y.vehicle_VIN = w.vehicle_VIN)
GROUP BY a.name
HAVING x.model != 'Honda CRV' AND y.model != 'Honda CRV'

 * sqlite:///policies-v12.sqlite
Done.

[('Geralt of Rivia',)]