# CS 236 Assignment 1: Part 3
> Author: Jamella Pescasio (jpesc002)

## Purpose
Make queries based on the assignment specifications.

## Setup

In [29]:
# load extension (only needed once)
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [30]:
# initializes db and creates respective file in same directory
%sql sqlite:///policies-v12.sqlite

## Make Queries
Code blocks below make queries based on the respective query specification.

### Query 1
The names of all customers who have both a life insurance and a vehicle policy.

In [31]:
%%sql
SELECT name FROM Customers
GROUP BY name
HAVING COUNT(*) > 1

   sqlite:///policies-v11.sqlite
 * sqlite:///policies-v12.sqlite
Done.

[('Bombas III',), ('Geralt of Rivia',)]

### Query 2
The name and driver license of customers who had 2 or more accidents in the past year.

In [50]:
%%sql
SELECT name, driver_license FROM Reports
JOIN Customers USING (driver_license)
?????????????????????????????????

   sqlite:///policies-v11.sqlite
 * sqlite:///policies-v12.sqlite
Done.

[('Bjorn of Hearthyme', 'JJFDC3L9W'),
 ('Bjorn of Hearthyme', 'JJFDC3L9W'),
 ('Bjorn of Hearthyme', 'JJFDC3L9W'),
 ('Bjorn of Hearthyme', 'JJFDC3L9W'),
 ('Bombas III', 'H1D1YCFQX'),
 ('Bombas III', 'H1D1YCFQX'),
 ('Geralt of Rivia', 'QNGHZ3JDS'),
 ('Geralt of Rivia', 'QNGHZ3JDS'),
 ('Bombas III', 'H1D1YCFQX'),
 ('Bombas III', 'H1D1YCFQX'),
 ('Bombas III', 'H1D1YCFQX'),
 ('Bombas III', 'H1D1YCFQX'),
 ('Bombas III', 'H1D1YCFQX'),
 ('Bombas III', 'H1D1YCFQX'),
 ('Bombas III', 'H1D1YCFQX'),
 ('Bombas III', 'H1D1YCFQX'),
 ('Bjorn of Hearthyme', 'JJFDC3L9W'),
 ('Bjorn of Hearthyme', 'JJFDC3L9W')]

### Query 3
Find the total number of customers who owned cars that were involved in accidents in 2022.

In [45]:
%%sql
SELECT COUNT(DISTINCT driver_license) FROM Reports
WHERE date > '2021-12-31'

   sqlite:///policies-v11.sqlite
 * sqlite:///policies-v12.sqlite
Done.

[(3,)]

### Query 4
Find the name of the customer who has the most number of accidents (total accidents).

In [56]:
%%sql
SELECT COUNT(driver_license) AS result FROM Reports
GROUP BY driver_license
ORDER BY result DESC
LIMIT 1

   sqlite:///policies-v11.sqlite
 * sqlite:///policies-v12.sqlite
Done.

[(6,)]

### Query 5
Find the name of customers who own a life policy but not a vehicle policy.

In [ ]:
%%sql

### Query 6
Find the name of customers who either owned a Honda CRV or been in an accident with a Honda CRV.

In [ ]:
%%sql

### Query 7
Find the name of customers who never owned a Honda CRV or been in an accident with a Honda CRV.

In [ ]:
%%sql